flows.json
[{"id":"f6e2540f.bd5ea8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5eaef389.d080bc","type":"inject","z":"f6e2540f.bd5ea8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":100,"wires":[["b9631a4e.4a6098"]]},{"id":"b9631a4e.4a6098","type":"debug","z":"f6e2540f.bd5ea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":40,"wires":[]},{"id":"51a55885.3dc7c8","type":"ibmiot in","z":"f6e2540f.bd5ea8","authentication":"apiKey","apiKey":"d6d5f591.11e7d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"+raspberrypy","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":300,"wires":[["b822a8a7.ba4df8","1df11bb.d691ee4"]]},{"id":"1df11bb.d691ee4","type":"function","z":"f6e2540f.bd5ea8","name":"temperature","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":240,"wires":[["7beacc64.2c9434","b9631a4e.4a6098"]]},{"id":"b822a8a7.ba4df8","type":"function","z":"f6e2540f.bd5ea8","name":"humidity","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":380,"wires":[["5e2341a2.26ffa","b9631a4e.4a6098"]]},{"id":"7beacc64.2c9434","type":"ui_gauge","z":"f6e2540f.bd5ea8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":240,"wires":[]},{"id":"5e2341a2.26ffa","type":"ui_gauge","z":"f6e2540f.bd5ea8","name":"","group":"","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":380,"wires":[]},{"id":"af3f075a.122108","type":"ui_button","z":"f6e2540f.bd5ea8","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360,"y":500,"wires":[["e8a44a38.bf4858"]]},{"id":"feb6d886.558fb8","type":"ui_button","z":"f6e2540f.bd5ea8","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":360,"y":640,"wires":[["e8a44a38.bf4858"]]},{"id":"e8a44a38.bf4858","type":"ibmiot out","z":"f6e2540f.bd5ea8","authentication":"apiKey","apiKey":"d6d5f591.11e7d8","outputType":"cmd","deviceId":"654321","deviceType":"raspberrypy","eventCommandType":"","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":560,"wires":[]},{"id":"d6d5f591.11e7d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]